@import "tailwindcss";

@font-face {
  font-family: "seekuw";
  src: url("./assets/fonts/seekuw/seekuw.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Einstellung";
  src: url("./assets/fonts/uni_neue/uni_neue.ttf") format("truetype"); /* Assuming uni_neue is the folder for Neue */
}

@font-face {
  font-family: "nourd";
  src: url("./assets/fonts/Nourd Font/Nourd.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #242834; /* Matching your theme background */
}
